.specialItems-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 300px)) ;
    font-size: 30px;
    background: rgba(197, 104, 72, 0.8);
    width: 83%;
    justify-self: center;
    text-align: center;
    justify-content: center;
    margin: 5px;

}
.SpecialItem{
    word-break: break-word;
    margin: 5px;
    border: 5px #f1c517 dashed;
    background: #9c5f0b;
    border-radius: 10px;
}

.specialItem-button{
    display: flex;
    justify-self: center;
    background: #df7204;
    border: #1e0e0e solid 2px;
    border-radius: 5px;
    padding: 5px 10px;
}
.specialItem-button:hover{
    background: #fb9b3a;
}

.desc-button {
    width: 0;
    height: 0;
    background: transparent;
    border: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 15px solid black;
    cursor: pointer;
    padding: 0;

}
