.weapons-container{
    display: flex;
    margin: 5px;
    background: aquamarine;
}
.weapon{
    background-color: #ba7070;
    margin: 5px;
    border: 5px solid #1e0e0e;
    font-size: 40px;
}

.weapon-description{
    display:none;
}

.weapon:hover+.weapon-description{
    display: block;
}