.weapons-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 300px)) ;
    margin: 5px;
    background: rgba(152, 75, 47, 0.77);
    justify-content: center;
    width: 83%;
    justify-self: center;
    background: linear-gradient(90deg, rgba(123, 64, 44, 0.3) 0%, rgba(123, 64, 44, 0.82) 50%, rgba(123, 64, 44, 0.3) 100%);

}
.weapon{
    background-color: #ba7070;
    margin: 5px;
    border: 5px solid #1e0e0e;
    font-size: 30px;
    text-align: center;
    word-break: break-word;


}

.weapon-damage{
    text-align: center;
    font-size: 20px;
    border-top: 5px solid #1e0e0e;


}




.weapon-button{
    display: flex;
    justify-self: center;
    background: #7e381e;
    padding: 5px 10px;
    border: black solid 1px;
    margin-top: 2px;
    border-radius: 5px;
}
.weapon-button:hover{
    background: #b65229;
}

.desc-button {
    width: 0;
    height: 0;
    background: transparent;
    border: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 15px solid black;
    cursor: pointer;
    padding: 0;

}
