.link{

    font-size: 50px;
    border: 5px solid #612a16;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: black;


}
body{
    background-image: url("background.jpg");
    background-size: 100%;
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
    font-style: normal;

}
nav{
    display:flex;
    justify-content: center;
    background: #bc603f;
    justify-self: center;


}

.menu{
    display: flex;
    flex-wrap: wrap;
    width: 83%;
    justify-self: center;
}

h2{
    justify-self: center;
    font-size: 50px;
    margin:10px;
    color: #91710f;
    text-shadow: black 2px 2px;
    background: linear-gradient(90deg, rgba(159, 104, 84, 0.3) 0%, rgba(186, 143, 127, 0.82) 50%, rgba(159, 104, 84, 0.3) 100%);


}
input{
    background-color: #8e5c28;
    border: black solid 1px;
    border-radius: 5px;
    color: #f1e6e6;
}

input::placeholder{
    color: #b1a5a5;
}
button{
    background-color: #745738;
    color: #f1e6e6;
    border: black solid 1px;
}
textarea{
    width: 100%;
    background: none;
    background: rgb(225, 172, 130);
}


