.link{

    font-size: 50px;
    border: 5px solid blue;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: black;


}
nav{
    display:flex;
    justify-content: center;

}

.equipmentMenu{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}



