.link{

    font-size: 50px;
    border: 5px solid #612a16;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: black;


}
body{
    background-image: url("background.jpg");
    background-size: 100%;
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
    font-style: normal;

}
nav{
    display:flex;
    justify-content: center;
    background: #bc603f;
    justify-self: center;


}

.menu{
    display: flex;
    flex-wrap: wrap;
    width: 83%;
    justify-self: center;
}

h2{
    justify-self: center;
    font-size: 50px;
    margin:10px;
    color: #91710f;
    text-shadow: black 2px 2px;
    background: linear-gradient(90deg, rgba(159, 104, 84, 0.3) 0%, rgba(186, 143, 127, 0.82) 50%, rgba(159, 104, 84, 0.3) 100%);


}


