.link{

    font-size: 50px;
    border: 5px solid blue;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: black;


}
nav{
    display:flex;
    justify-content: center;

}

.weapons-container{
    display: flex;
    margin: 5px;
    background: aquamarine;
}
.weapon{
    background-color: #ba7070;
    margin: 5px;
    border: 5px solid #1e0e0e;
    font-size: 40px;
}
