.info-container{
    text-align: center;
    font-size: 32px;
    padding: 1px;
    margin: 1px;

}

h1{
    margin: 5px;
    padding: 0;
    color: transparent;
    background: #020000;
    background-clip: text;
    text-shadow: 0px 3px 3px rgb(188, 167, 76);
}