.mainStat{
    border: #1e0e0e solid 4px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    background: rgba(214, 135, 106, 0.51);
}

.modifier{
    border: #1e0e0e solid 4px;
    border-radius: 10px ;
}