
.skill-checkbox {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    border-radius: 3px;
    background-color: #bf6237;
    cursor: pointer;
}

.skill-checkbox:checked::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 1px;
    width: 13px;
    height: 7px;
    border-bottom: 3px solid #000000;
    border-left: 3px solid #000000;
    transform: rotate(-45deg);
}