.mainStats-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
}

.break{
    text-align: center;
    font-size: 20px;
}

.stats-button {
    box-shadow: 4px 3px 2px 2px #a6827e;
    background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
    background-color:#7d5d3b;
    border-radius:12px;
    border:3px solid #54381e;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:16px 29px;
    text-decoration:none;
    text-shadow:0px 1px 0px #4d3534;
    display: flex;
    justify-self: center;

}

.stats-button:active {
    position:relative;
    top:1px;
}