.skills-container{
    display:flex;
    flex-wrap: wrap;
    gap:5px;
    margin: 5px;
    background: rgba(214, 135, 106, 0.51);
    justify-content: center;
    width: 83%;
    justify-self: center;
}